@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-pRegular;
}

input[type="checkbox"] {
  /* appearance: none; */
}

li {
  list-style: none;
}

input,
textarea {
  outline: none;
}

input {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.FRowC {
  @apply flex justify-center items-center;
}

.FCol {
  @apply flex flex-col;
}

.FColC {
  @apply flex flex-col justify-center items-center;
}

.evenPadding {
  @apply px-[1rem] py-[2rem];
}

.Filters {
  @apply p-3 px-4 hover:text-[#6ed4e5] hover:bg-[#f3fbfc];
}

.hvrPointer {
  @apply hover:cursor-pointer select-none;
}

.FullCover {
  @apply top-0 right-0 bottom-0 left-0;
}

.InpEnq {
  @apply rounded-xl border-[1px] border-greenB py-3 px-4;
}

.InpEnq2 {
  @apply py-3 px-4 flex gap-2;
}

.absoluteC {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.gra1 {
  background: linear-gradient(to right, #b0eddd, #b3eff4, #bff1de);
}

.gra2 {
  background: linear-gradient(
    to right,
    #ffffff,
    #1a5319,
    #1d1b20,
    #322f35,
    #6dd9c1,
    #acecd7
  );
}

.inpContact {
  @apply border-[1px] rounded-2xl p-3 border-greenB w-[22rem];
}


.myPadX{
  @apply px-5 sm:px-10 md:px-20 lg:px-20 xl:px-32 2xl:px-10
}

/* Hide scrollbar for all browsers */
.hideScroll {
  overflow: -moz-scrollbars-none;  /* Firefox */
  -ms-overflow-style: none;        /* IE and Edge */
  scrollbar-width: none;           /* Firefox */
}

.hideScroll::-webkit-scrollbar {
  display: none;                   /* Chrome, Safari, Opera */
}
